*{
	padding: 0;;
	margin: 0;
}

body, html { 
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
	width: 70%;
	margin-left: 15%;
	margin-top: 1%;
}


/* ###########################Navbar Settings ###########################*/
.navbar, .navbar-hide{
	height: 60px;
	background-color: black;
}

.navbar ul{
	text-align: center;
}

.navbar li, .social li{
	display: inline-block;
	text-align: center;
	margin-top: 25px;
	width: 20%;
}
#navLogo, #navLogo a{
	display: inline-block;
	text-align: left;
	margin-top: 15px;
	margin-left: 10%;
	text-decoration: none;
	font-size: 2em;
  	font-family: 'Qwigley', cursive;
  	color: #c3c3c3;
}

.navbar li a{
	color: white;
	text-decoration: none;
	display: inline-block;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.5em;
}

.navbar li a:hover{
	color: #1791A3;
}

/*  ######################### Index page settings #########################*/
.mainbody{
	display: inline-block;
	width: 40%;
	text-align: center;
	margin-left:30%;
	margin-top: 20%;
	height: 35%;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 5px;
}

#profile{
	min-width: 90px;
	width: 40%;
	border-radius: 50%;
	-moz-box-shadow:    0 5px 6px 3px #ccc;
	-webkit-box-shadow: 0 5px 6px 3px #ccc;
	box-shadow:         0 5px 6px 3px #ccc;
	-moz-border-radius:50%; 
	-webkit-border-radius:50%; 
	border-radius:50%;
	margin-top: -175px;
}
#name{
	font-family: 'Qwigley', cursive;
	font-size: 5vh;
	letter-spacing: 2px;
	color: #3333CC;
}

#location{
	font-size: 2vh;
}

#job{
	margin-top: 5px;
	font-size: 3.5vh;
	color: #44749D;
}

.inner{
/*margin-top: 50%;*/

}

.social ul{
	/*float: left;*/
	min-height: 100px;
	padding-left: 0;	
}



.social img{
	width: 80%;
	-moz-box-shadow:    0 5px 6px 3px #c8c8c8;
	-webkit-box-shadow: 0 5px 6px 3px #c8c8c8;
	box-shadow:         0 5px 6px 3px #c8c8c8;
	-moz-border-radius:50%; 
	-webkit-border-radius:50%; 
	border-radius:50%;
	margin: 10px;
}
.description hr {
	margin-top: 20%;
	margin-left: 10%;
	width: 80%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media (min-width: 720px) {
	.navbar-hide{
		display: none;
	}
	.navbar-hide ul li{
		display: block;
		color: white;
	}
}

@media (max-width: 720px) {
  .navbar{
  	display: none;
  }
  .mainbody{
  	margin-top: 125px;
  	display: inline-block;
	width: 70%;
	text-align: center;
	margin-left: 15%;
	max-height: 500px;
  }
  #name, #location{
  	display: none;
  }



}
/* ####################About Page  ####################*/
#aboutBg{
	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

.aboutHeader{
	display: block;
	width: 100%;
	height: 20vh;
	background-color: #1791A3;

}

.headImg{
	position: relative;
	display: inline-block;
	float: left;
	width: 25%;
}

.headImg img{
	width: 250%;
	border-radius: 50%;
	margin-left: 80%;
	margin-top: 15%;
}

.headTitle{
	position: relative;
	display: inline-block;
	float: left;
	margin-top: 3.5%;
	margin-left: 3%;
}
.headTitle h1{
	font-size: 3.8;
	color: #f1f1f1;
	text-align: right;
	font-family: 'Anton', sans-serif;
	letter-spacing: .5vh;
}
.headTitle span{
	font-size: 7vh;
}
.headTitle h5{
	color:#C1C1C1;
	text-align: right;
	font-size: 2vh;
	line-height: 50%;
	letter-spacing: .15vw;
}
.headContact{
	position: relative;
	display: inline-block;
	float: left;
	width: 90%;
	text-align: left;
}
.headContact b{
	margin-left: 2vw;
	font-size: 1.5vw;
}
.headContact p{
	font-size: 1.5vw;
	color: #001f3f;
	margin-left: 5%;
}

.resumeBody{
	margin-top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	float: left;
}
.resumeRight{
	display: inline-block;
	width: 30%;
	background-color: #ACC2C8;
	height: 100%;
	float: right;
}

.resumeLeft{
	display: inline-block;
	width: 70%;
	/*background-color: #f1f1f1;*/
	height: 100%;
}
.resumeContent{
	display: block;
	font-size: 3.75vh;
	color: #F04710;
	font-family: 'Quicksand', sans-serif;
	padding: 15px;
	width: 85%;
	margin-left: 5%;
}

.resumeHeader{
	display: block;
	position: relative;
	font-size: 3.25vh;
	font-family: 'Quicksand', sans-serif;
	clear: both;
}
.resSection{
	border: 2px solid red;
}
.resSection p{
	font-size: 1vh;
	font-family: Arial;
	color: black;

}
.headInfo{
	text-align: right;
	margin-top:2.5%;
	margin-right: 3%;
	line-height: 120%;
	float: right;
	display: inline-block;
	height: 15vh;
}
.headInfo p{
	font-size: 2vh;
}
.jobComp, .year{
	border: 2px solid yellow;
	font-size: 2vh;
	display: inline-block;
	width: 78%;
	float:right;
}
.year{
	width: 20%;
	float: left;
	display: inline-block;
	color: #000;
}
.jobDesc{
	margin-top: 5%;
	margin-left: 22%;
	display: block;
	width: 75%;
	padding: 2px;
}



/* ####################This is the animation for the hamburger sign  ####################*/

#nav-toggle { position: absolute; right: 10%; top: 15px; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #c3c3c3;
  position: absolute;
  display: block;
  content: '';

}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}