*{
	padding: 0;;
	margin: 0;
}

body, html { 
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
	width: 70%;
	margin-left: 15%;
	margin-top: 1%;
}

.aboutPage{
	background-color: rgba(255, 255, 255, .75);
}
.resumeLeft{
	float: left;
	width: 30%;
	/*background-color: red;*/
	display: inline-block;
}
.resumeRight{
	float:right;
	width: 	70%;
	/*background-color: black;*/
	display: inline-block;
}

.navbar, .navbar-hide{
	height: 60px;
	background-color: black;
}
.navbar select{
display: none;
}

.navbar ul{
	text-align: center;
}

.navbar li, .social li{
	display: inline-block;
	text-align: center;
	margin-top: 25px;
	width: 20%;
}
#navLogo, #navLogo a{
	display: inline-block;
	text-align: left;
	margin-top: 15px;
	margin-left: 10%;
	text-decoration: none;
	font-size: 2em;
  	font-family: 'Qwigley', cursive;
  	color: #c3c3c3;
}



.navbar li a{
	color: white;
	text-decoration: none;
	display: inline-block;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.5em;
}


.navbar li a:hover{
	color: #F5003D;
}

.mainbody{
	display: inline-block;
	width: 35%;
	text-align: center;
	margin-left: 32.5%;
	margin-top: 20%;
	height: 35%;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 5px;
}

#profile{
	min-width: 90px;
	width: 40%;
	border-radius: 50%;
	-moz-box-shadow:    0 5px 6px 3px #ccc;
	-webkit-box-shadow: 0 5px 6px 3px #ccc;
	box-shadow:         0 5px 6px 3px #ccc;
	-moz-border-radius:50%; 
	-webkit-border-radius:50%; 
	border-radius:50%;
	margin-top: -175px;
}
#name{
	font-family: 'Qwigley', cursive;
	font-size: 5vh;
	letter-spacing: 2px;
	color: #3333CC;
}

#location{
	font-size: 2vh;
}

#job{
	margin-top: 5px;
	font-size: 3.5vh;
	color: #44749D;
}

.inner{
/*margin-top: 50%;*/

}

.social ul{
	min-height: 100px;
	padding-left: 0;	
}



.social img{
	width: 80%;
	-moz-box-shadow:    0 5px 6px 3px #c8c8c8;
	-webkit-box-shadow: 0 5px 6px 3px #c8c8c8;
	box-shadow:         0 5px 6px 3px #c8c8c8;
	-moz-border-radius:50%; 
	-webkit-border-radius:50%; 
	border-radius:50%;
	margin: 10px;
}
hr {
	margin-top: 20%;
	margin-left: 10%;
	width: 80%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media (min-width: 640px) {
	.navbar-hide{
		display: none;
	}
}

@media (max-width: 640px) {
  .mainbody{
  	margin-top: 120px;
  	display: inline-block;
	width: 50%;
	text-align: center;
	margin-left: 25%;
	max-height: 500px;
  }
  #name, #location{
  	display: none;
  }

  .navbar{
  	display: none;
  }
  .navbar select {
	display: inline-block;
  }
}

/* ####################This is the animation for the hamburguer sign  ####################*/

#nav-toggle { position: absolute; right: 10%; top: 15px; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #c3c3c3;
  position: absolute;
  display: block;
  content: '';

}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}